[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
djangorestframework = "*"
django = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
psycopg2-binary = "*"
django-celery-results = "*"
celery = "*"
requests = "*"

[requires]
python_version = "3.7"

[dev-packages]
awsebcli = "*"
